<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.fengwk.convention4j.oauth2.infra.mapper.TestStandardOAuth2ClientMapper">
    
    <update id="createTableIfNotExists">
        create table if not exists client (
            id                            bigint unsigned not null auto_increment comment '主键',
            client_id                     varchar(64) not null comment '客户端id',
            secret                        varchar(128) not null comment '客户端密钥',
            modes                         text comment '客户端模式',
            redirect_uris                 text comment '客户端支持的重定向地址集合',
            scope_units                   text comment '客户端支持的作用域单元集合',
            authorizeCodeExpireSeconds    int not null comment '授权码超时，seconds',
            accessTokenExpireSeconds      int not null comment '访问令牌超时，seconds',
            refreshTokenExpireSeconds     int not null comment '刷新令牌超时，seconds',
            authorizationExpireSeconds    int not null comment '授权超时，seconds',
            allowRefreshToken             tinyint not null comment '是否允许刷新令牌',
            create_time                   datetime(3) not null default current_timestamp(3) comment '创建时间',
            update_time                   datetime(3) not null default current_timestamp(3) on update current_timestamp(3) comment '更新时间',
            version                       bigint not null default '0' comment '数据版本号',
            primary key (id),
            index uk_clientId (client_id)
        ) engine=InnoDB default charset=utf8mb4 comment='客户端表';
    </update>

    <update id="updateClientId">
        update client set client_id = #{newClientId}, version = version + 1 where client_id = #{clientId}
    </update>
    
</mapper>